.profile-picture {
    width: 160px; /* Ajusta el tamaño de la foto de perfil según tus preferencias */
    height: 160px; /* Ajusta el tamaño de la foto de perfil según tus preferencias */
    border-radius: 50%; /* Hace que la imagen sea redonda */
    overflow: hidden; /* Oculta partes de la imagen que estén fuera del círculo */
    margin: 0 auto; /* Centra la foto de perfil horizontalmente */
    margin-left: 20px; /* Ajusta el margen izquierdo para desplazar la imagen hacia la derecha */
  margin-bottom: 20px; /* Agrega un margen inferior de 20px (ajusta según tus necesidades) */

  }
  
  .profile-picture img {
    width: 100%; /* Asegura que la imagen se ajuste al contenedor circular */
    height: auto;
    display: block;
    

  }
  

 