<section class="content section-spacing">
  <div class="block-content">
    <h3 class="block-title">Aplicación monolítica</h3>
    <div class="col-md-8 description-content">
      <p>Proyecto Demo de una pagina web de un concesionario</p>
      <p><span>Backend:</span></p>
      <ul>
        <li>Desarrollo eficiente de API REST con Spring Boot.</li>
        <li>Administración efectiva de datos mediante Spring Data (JPA) y una base de datos MySQL.</li>
        <li>Seguridad implementada con Spring Security (JWT).</li>
        <li>Mejora de la legibilidad del código gracias a Lombok.</li>
        <li>Documentación detallada y precisa de la API con Swagger.</li>
        <li>Mapeo eficiente entre objetos utilizando MapStruct.</li>
      </ul>
      <p><span>Frontend:</span></p>
      <ul>
        <li>Creación de una interfaz de usuario atractiva y dinámica con Angular.</li>
      </ul>
    </div>
    <div class="row">
      <!-- Proyectos de Aplicación monolítica -->
      <div class="col-md-4">
        <div class="portfolio-item artwork">
          <a href="https://democoncesionario-production.up.railway.app/swagger-ui/index.html" target="_blank">
            <div class="portfolio-column">
              <div class="portfolio-hover">
                <div class="portfolio-content">
                  <h2>concesionario/back Spring Boot</h2>
                  <hr>
                  <p>Ver detalles.</p>
                </div>
                <div class="portfolio-overlay"></div>
              </div>
              <img src="assets/images/proyectos/Captura de pantalla 2023-11-02 101305.png" alt="">
            </div>
          </a>
          <a href="https://github.com/mohid2/democoncesionario" target="_blank"><i class="ion-social-github" style="font-size: 30px;"></i></a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="portfolio-item artwork">
          <a href="https://democoncesionario-front.vercel.app/productos" target="_blank">
            <div class="portfolio-column">
              <div class="portfolio-hover">
                <div class="portfolio-content">
                  <h2>concesionario/front Angular</h2>
                  <hr>
                  <p>Ver detalles.</p>
                </div>
                <div class="portfolio-overlay"></div>
              </div>
              <img src="assets/images/proyectos/Captura de pantalla 2023-11-02 101341.png" alt="">
            </div>
          </a>
          <a href="https://github.com/mohid2/democoncesionario-front" target="_blank"><i class="ion-social-github" style="font-size: 30px;"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="content section-spacing">
  <div class="block-content">
    <h3 class="block-title">Aplicación MVC</h3>
    <div class="col-md-8 description-content">
      <p>Dos Proyectos Demo de una página web. uno es una pagina web para crear blogs y gestionarlos (blogsweb) y otro es una pagina web para gestionar un sistema de facturas y clientes (facturasweb) </p>
      <p><span>Backend (Spring):</span></p>
      <ul>
        <li>Desarrollo Backend con Spring Boot para gestionar blogs y usuarios en el proyecto (blogsweb), facturas y clientes en el proyecto (facturasweb).</li>
        <li>Implementación de autenticación y autorización segura con Spring Security para proteger las sesiones de usuario.</li>
        <li>Administración efectiva de datos mediante Spring Data (JPA) y una base de datos MySQL.</li>
      </ul>
      <p><span>Frontend (Thymeleaf):</span></p>
      <ul>
        <li>Creación de una interfaz de usuario dinámica y atractiva utilizando Thymeleaf.</li>
        <li>Integración con el backend para mostrar y crear blogs, gestionar usuarios en el proyecto (blogsweb) y crear facturas, gestionar usuarios y clientes en el proyecto (facturasweb).</li>
      </ul>
    </div>
    <div class="row">
      <!-- Proyectos de Aplicación MVC -->
      <div class="col-md-4">
        <div class="portfolio-item artwork">
          <a href="https://blogsweb-07f6c4fa72f9.herokuapp.com/" target="_blank">
            <div class="portfolio-column">
              <div class ="portfolio-hover">
                <div class="portfolio-content">
                  <h2>pagina web con spring boot y thymleaf</h2>
                  <hr>
                  <p>Ver detalles.</p>
                </div>
                <div class="portfolio-overlay"></div>
              </div>
              <img src="assets/images/proyectos/Captura de pantalla 2023-10-25 173325.png" alt="">
            </div>
          </a>
          <a href="https://github.com/mohid2/springBoot_MVC" target="_blank"><i class="ion-social-github" style="font-size: 30px;"></i></a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="portfolio-item artwork">
          <a href="https://facturasweb-6840cae083ec.herokuapp.com/" target="_blank">
            <div class="portfolio-column">
              <div class="portfolio-hover">
                <div class="portfolio-content">
                  <h2>pagina web con spring boot y thymleaf</h2>
                  <hr>
                  <p>Ver detalles.</p>
                </div>
                <div class="portfolio-overlay"></div>
              </div>
              <img src="assets/images/proyectos/Captura de pantalla 2023-10-30 142011.png" alt="">
            </div>
          </a>
          <a href="https://github.com/mohid2/CursoSpringBoot" target="_blank"><i class="ion-social-github" style="font-size: 30px;"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="content section-spacing" >
  <div class="block-content">
    <h3 class="block-title">Aplicación API REST</h3>
    <div class="col-md-8 description-content">
      <p>Dos demos de API REST </p>
      <p><span>Backend:</span></p>
      <ul>
        <li>Desarrollo eficiente de API REST con Spring Boot.</li>
        <li>Administración efectiva de datos mediante Spring Data (JPA) y una base de datos MySQL.</li>
        <li>Seguridad implementada con Spring Security.</li>
        <li>Mejora de la legibilidad del código gracias a Lombok.</li>
        <li>Documentación detallada y precisa de la API con Swagger.</li>
        <li>el usuario para conectar a (laptops-api)</li>
          <p><strong>Usuario:</strong>  user</p>
          <p><strong>Contraseña: </strong> password</p>
      </ul>
    </div>
    <div class="row">
      <!-- Proyectos de Aplicación API REST -->
      <div class="col-md-4">
        <div class="portfolio-item artwork">
          <a href="https://laptops-api-c2afb28acb13.herokuapp.com/swagger-ui/index.html#/" target="_blank">
            <div class="portfolio-column">
              <div class ="portfolio-hover">
                <div class="portfolio-content">
                  <h2>API REST con spring boot</h2>
                  <hr>
                  <p>Ver detalles.</p>
                </div>
                <div class="portfolio-overlay"></div>
              </div>
              <img src="assets/images/proyectos/Captura de pantalla 2023-11-02 165014.png" alt="">
            </div>
          </a>
          <a href="https://github.com/mohid2/springBoot" target="_blank"><i class="ion-social-github" style="font-size: 30px;"></i></a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="portfolio-item artwork">
          <a href="https://tareas-api-99a551334814.herokuapp.com/swagger-ui/index.html#/" target="_blank">
            <div class="portfolio-column">
              <div class="portfolio-hover">
                <div class="portfolio-content">
                  <h2>API REST con spring boot</h2>
                  <hr>
                  <p>Ver detalles.</p>
                </div>
                <div class="portfolio-overlay"></div>
              </div>
              <img src="assets/images/proyectos/Captura de pantalla 2023-11-02 162949.png" alt="">
            </div>
          </a>
          <a href="https://github.com/mohid2/springboot2" target="_blank"><i class="ion-social-github" style="font-size: 30px;"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="content section-spacing" >
  <div class="block-content">
    <h3 class="block-title">AUTENTICACIÓN con JWT Spring Boot </h3>
    <div class="col-md-8 description-content">
      <ul>
        <li>Desarrollo eficiente de API REST con Spring Boot.</li>
        <li>Administración efectiva de datos mediante Spring Data (JPA) y una base de datos MySQL.</li>
        <li>Seguridad implementada con Spring Security (JWT).</li>
        <li>Mejora de la legibilidad del código gracias a Lombok.</li>
        <li>Documentación detallada y precisa de la API con Swagger.</li>
      </ul>
    </div>
    <div class="row">
      <!-- Proyectos de Aplicación API auth con jwt -->
      <div class="col-md-4">
        <div class="portfolio-item artwork">
          <a href="https://auth-jwt-490b7620f4e7.herokuapp.com/swagger-ui/index.html#/" target="_blank">
            <div class="portfolio-column">
              <div class ="portfolio-hover">
                <div class="portfolio-content">
                  <h2>API REST con spring boot</h2>
                  <hr>
                  <p>Ver detalles.</p>
                </div>
                <div class="portfolio-overlay"></div>
              </div>
              <img src="assets/images/proyectos/Captura de pantalla 2023-11-04 180224.png" alt="">
            </div>
          </a>
          <a href="https://github.com/mohid2/SpringBootJwt" target="_blank"><i class="ion-social-github" style="font-size: 30px;"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>
